<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TextEditor</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/css/main.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
    <div id="page-container">
        <div id="content-wrap">
            @RenderBody()
        </div>

        <footer id="footer" class="text-center ">
            Created by Daria Tyshchenko
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
